
  .body-color {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* 设置页面背景色为灰色 */
    margin: auto; 
    width: 50%; 
    padding-top: 50px;
    padding-bottom: 70px;
    padding-right: 0 px;
    padding-left: 0 px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.7); /* 添加容器阴影效果 */

    // background: linear-gradient(45deg, #fb3 50%, #58a 0);    //让背景的渐变带有倾斜
    // background-size:30px 30px;   //每一块小组成部分固定宽度和高度
    background: linear-gradient(rgb(209, 213, 255) 30%,rgb(198, 237, 253) 70%);
  

 
  }

  h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
  }
  
  .container {
    margin: 0 auto; /* 设置容器居中 */
    max-width: 800px; /* 设置容器最大宽度 */
    width: 80%; /* 设置容器宽度为页面宽度的80% */
    padding: 20px;
    // background-color: #ffffff; /* 设置容器背景色为白色 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.7); /* 添加容器阴影效果 */
    position: relative; /* 添加定位属性 */

    background-image: url('../../assets/background.jpg');
    background-color: rgba(255, 255, 255, 0.9); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    // opacity: 0.7; /* 调整透明度值（0-1之间）*/
  }

 

  .amount-display {
    box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* 添加容器阴影效果 */
    position: absolute;
    top: 15px;
    right: 20px;
    padding: 10px;
    background-color: rgb(198, 247, 194,0.7); /* 设置金额栏背景色为白色 */
    border: 1px solid #ddd;
    border-radius: 4px;
    font-weight: bold;
    font-size: 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(201, 242, 255,0.5); /* 设置金额栏背景色为白色 */
    // background-color: #EAF6FF;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* 添加容器阴影效果 */
  }
  
  .navbar button {
    box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* 添加容器阴影效果 */
    margin-right: 10px;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 18px;
  }
  
  .navbar button:hover {
    background-color: #d38769; /* 按钮鼠标悬停时的背景颜色 */
    color: white; /* 按钮鼠标悬停时的文本颜色 */
  }

  .navbar button:active {
    background-color: #a85838; /* 按钮鼠标悬停时的背景颜色 */
    color: white; /* 按钮鼠标悬停时的文本颜色 */
  }

  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* 添加容器阴影效果 */
  }
  
  th, td {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 添加容器阴影效果 */
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 16px;
  }
  
  th {
    background-color: rgba(111, 130, 241, 0.5); /* 设置金额栏背景色为白色 */
    font-weight: bold;
  }
  
  // tr:nth-child(even) {
  //   background-color: #f9f9f9;
  // }

  .positive {
    background-color: rgb(91, 206, 91);
    color: white;
  }
  
  .negative {
    background-color: rgb(236, 81, 81);
    color: white;
  }

  .sort-buttons {
    background-color: rgba(228, 239, 255, 0.8); /* 设置金额栏背景色为白色 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* 添加容器阴影效果 */
    border: none;
  }

  .sort-buttons:hover {
    background-color: rgba(190, 169, 238, 0.8); /* 设置金额栏背景色为白色 */
  }

  .sort-buttons:active {
    background-color: rgba(85, 61, 141, 0.8); /* 设置金额栏背景色为白色 */
  }


  .searchBar {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* 添加容器阴影效果 */
  }
  
  .searchButton {
    padding: 8px 16px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgba(155, 112, 255, 0.8); /* 设置金额栏背景色为白色 */
    color: white;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* 添加容器阴影效果 */
  }
  
  .searchButton:hover {
    background-color: rgba(150, 62, 201, 0.8); /* 设置金额栏背景色为白色 */
  }

  .searchButton:active {
    background-color: rgba(91, 28, 128, 0.8); /* 设置金额栏背景色为白色 */
  }