
  
  .body-color {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* 设置页面背景色为灰色 */
    margin: auto; 
    width: 50%; 
    padding-top: 50px;
    padding-bottom: 100px;
  }

  h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
  }
  
  .container {
    margin: 0 auto; /* 设置容器居中 */
    max-width: 800px; /* 设置容器最大宽度 */
    width: 80%; /* 设置容器宽度为页面宽度的80% */
    padding: 20px;
    // background-color: #ffffff; /* 设置容器背景色为白色 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 添加容器阴影效果 */
    position: relative; /* 添加定位属性 */

    background-image: url('../../assets/background.jpg');
    background-color: rgba(255, 255, 255, 0.9); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    // opacity: 0.7; /* 调整透明度值（0-1之间）*/
  }

  // .container::after {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(255, 255, 255, 0.5); /* 替换为你想要的背景不透明度 */
  //   z-index: -1;
  // }
  

  // .container::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(0, 0, 0, 0.8); /* 调整透明度值 */
  //   z-index: -1; /* 确保位于背景图之上 */
  // }
  
  // .overlay {
  //   background-color: rgba(0, 0, 0, 0.1); /* 这里的最后一个数值0.5表示透明度，可以根据需要进行调整 */
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: -2; /* 调整为较小的值 */
  // }

  .amount-display {
    box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* 添加容器阴影效果 */
    position: absolute;
    top: 15px;
    right: 20px;
    padding: 10px;
    background-color: rgb(198, 247, 194,0.7); /* 设置金额栏背景色为白色 */
    border: 1px solid #ddd;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(201, 242, 255,0.5); /* 设置金额栏背景色为白色 */
    // background-color: #EAF6FF;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* 添加容器阴影效果 */
  }
  
  .navbar button {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 添加容器阴影效果 */
    margin-right: 10px;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  .navbar button:hover {
    background-color: #d38769; /* 按钮鼠标悬停时的背景颜色 */
    color: white; /* 按钮鼠标悬停时的文本颜色 */
  }

  .navbar button:active {
    background-color: #a85838; /* 按钮鼠标悬停时的背景颜色 */
    color: white; /* 按钮鼠标悬停时的文本颜色 */
  }

  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* 添加容器阴影效果 */
  }
  
  th, td {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 添加容器阴影效果 */
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: rgba(111, 130, 241, 0.5); /* 设置金额栏背景色为白色 */
    font-weight: bold;
  }
  
  // tr:nth-child(even) {
  //   background-color: #f9f9f9;
  // }

  .positive {
    background-color: rgb(91, 206, 91);
    color: white;
  }
  
  .negative {
    background-color: rgb(236, 81, 81);
    color: white;
  }