
  
  .body-color {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* 设置页面背景色为灰色 */
    margin: auto; 
    width: 50%; 
    padding-top: 50px;
    padding-bottom: 70px;
    padding-right: 0 px;
    padding-left: 0 px;
    background: linear-gradient(rgb(252, 234, 214) 30%,rgb(255, 250, 206) 70%);
    box-shadow: 0 2px 4px rgba(0,0,0,0.7); /* 添加容器阴影效果 */
  }

  h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
  }
  
  .container {
    margin: 0 auto; /* 设置容器居中 */
    max-width: 800px; /* 设置容器最大宽度 */
    width: 80%; /* 设置容器宽度为页面宽度的80% */
    padding: 20px;
    background-color: #ffffff; /* 设置容器背景色为白色 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.7); /* 添加容器阴影效果 */
    position: relative; /* 添加定位属性 */

    background-image: url('../../assets/portfolio.jpg');
    background-color: rgba(255, 255, 255, 0.9); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .amount-display {
    box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* 添加容器阴影效果 */
    position: absolute;
    top: 15px;
    right: 20px;
    padding: 10px;
    background-color: rgb(198, 247, 194,0.7); /* 设置金额栏背景色为白色 */
    border: 1px solid #ddd;
    border-radius: 4px;
    font-weight: bold;
    font-size: 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(201, 242, 255,0.5); /* 设置金额栏背景色为白色 */
    // background-color: #EAF6FF;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* 添加容器阴影效果 */
  }
  
  .navbar button {
    box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* 添加容器阴影效果 */
    margin-right: 10px;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: rgba(85, 162, 224, 0.8);
    color: white;
    cursor: pointer;
    font-size: 18px;
  }
  .navbar button:hover {
    background-color:  rgba(128, 174, 218, 0.8); /* 按钮鼠标悬停时的背景颜色 */
    color: white; /* 按钮鼠标悬停时的文本颜色 */
  }

  .navbar button:active {
    background-color: rgba(72, 105, 155, 0.8); /* 按钮鼠标悬停时的背景颜色 */
    color: white; /* 按钮鼠标悬停时的文本颜色 */
  }
  table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* 添加容器阴影效果 */
  }
  
  th, td {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 添加容器阴影效果 */
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 16px;
  }
  
  th {
    background-color: rgba(255, 213, 165, 0.5);  /* 设置金额栏背景色为白色 */ /* 设置金额栏背景色为白色 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* 添加容器阴影效果 */
    // background-color: #f2f2f2;
    font-weight: bold;
  }
  
  // tr:nth-child(even) {
  //   background-color: #f9f9f9;
  // }

  .positive {
    background-color: rgb(91, 206, 91);
    color: white;
  }
  
  .negative {
    background-color: rgb(236, 81, 81);
    color: white;
  }

  .sell-button-container {
    // box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* 添加容器阴影效果 */
    position: absolute;
    bottom: 2px;
    right: 10px;
  }

  #sellButton {
    float: right;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* 添加容器阴影效果 */
    width: 120px;
    height: 35px;
    font-size: 18px;
    padding: 8px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgba(84, 177, 157, 0.8);
    color: white;
    cursor: pointer;
  }
  
  #sellButton:hover {
    background-color: rgba(73, 141, 153, 0.8); /* 设置金额栏背景色为白色 */
    color: white; /* 按钮鼠标悬停时的文本颜色 */
  }
  
  #sellButton:active {
    background-color: rgba(38, 102, 110, 0.8); /* 设置金额栏背景色为白色 */
    color: white; /* 按钮鼠标悬停时的文本颜色 */
  }
  
  .sort-buttons {
    background-color: rgba(248, 255, 228, 0.8); /* 设置金额栏背景色为白色 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* 添加容器阴影效果 */
    border: none;
  }

  .sort-buttons:hover {
    background-color: rgba(255, 254, 196, 0.8); /* 设置金额栏背景色为白色 */
  }

  .sort-buttons:active {
    background-color: rgba(255, 185, 163, 0.8); /* 设置金额栏背景色为白色 */
  }


  .searchBar {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* 添加容器阴影效果 */
  }
  
  .searchButton {
    padding: 8px 16px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgba(84, 177, 157, 0.8); /* 设置金额栏背景色为白色 */
    color: white;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* 添加容器阴影效果 */
  }
  
  .searchButton:hover {
    background-color: rgba(73, 141, 153, 0.8); /* 设置金额栏背景色为白色 */
  }

  .searchButton:active {
    background-color: rgba(38, 102, 110, 0.8); /* 设置金额栏背景色为白色 */
  }