#title {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
  }
  
  .body-color {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* 设置页面背景色为灰色 */
    margin: auto; 
    width: 50%; 
    padding-top: 50px;
    padding-bottom: 70px;
    padding-right: 0 px;
    padding-left: 0 px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.7); /* 添加容器阴影效果 */
    background: linear-gradient(rgb(204, 234, 255) 30%,rgb(206, 255, 231) 70%);
  }


  
  .container {
    margin: 0 auto; /* 设置容器居中 */
    max-width: 800px; /* 设置容器最大宽度 */
    width: 80%; /* 设置容器宽度为页面宽度的80% */
    padding: 20px;
    background-color: #ffffff; /* 设置容器背景色为白色 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.7); /* 添加容器阴影效果 */
    position: relative; /* 添加定位属性 */

    background-image: url('../../assets/image3.jpg');
    background-color: rgba(255, 255, 255, 0.9); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // background-color: rgba(0, 0, 0, 0.1);
    position: relative;

    
  }
  
  .amount-display {
    // box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 添加容器阴影效果 */
    // // position: absolute;
    // // top: 170px;
    // // right: 20px;
    // width: 15%;
    // height: 10%;
    // right: 10px;
    // padding: 20px;
    // margin-bottom: 50px;
    // margin-right: 250px;
    // background-color: rgb(198, 247, 194); /* 设置金额栏背景色为白色 */
    // border: 1px solid #ddd;
    // border-radius: 4px;
    // font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* 添加容器阴影效果 */
    // position: absolute;
    top: 15px;
    right: 20px;
    padding: 10px;
    background-color: rgb(198, 247, 194,0.7); /* 设置金额栏背景色为白色 */
    border: 1px solid #ddd;
    border-radius: 4px;
    font-weight: bold;
    margin-bottom: 50px;
    margin-right: 200px;
    font-size: 16px;
  }

  .navbar-next {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgba(79, 161, 255, 0.5); 
    padding: 1px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* 添加容器阴影效果 */
  }
  

  table {
    width: 40%;
    border-collapse: collapse;
    margin-bottom: 50px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* 添加容器阴影效果 */
  }
  
  th, td {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 添加容器阴影效果 */
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 16px;
  }
  
  th {
    background-color: rgba(64, 133, 212, 0.5); 
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }


  .continue-button-container {
    position: absolute;
    bottom: 2px;
    right: 10px;
  }

  #continueButton {
    
    float: right;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* 添加容器阴影效果 */
    width: 120px;
    height: 35px;
    font-size: 18px;
    padding: 8px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  #continueButton:hover {
    background-color: #e95a50; /* 按钮鼠标悬停时的背景颜色 */
    color: white; /* 按钮鼠标悬停时的文本颜色 */
  }
  
  #continueButton:active {
    background-color: #c4372d; /* 按钮鼠标悬停时的背景颜色 */
    color: white; /* 按钮鼠标悬停时的文本颜色 */
  }
  
  .container-sub {
    /* ... 其他样式 ... */
    display: flex; /* 使用 flex 布局 */
    justify-content: space-between; /* 将子元素在容器中水平对齐 */
    align-items: center; /* 将子元素在容器中垂直居中对齐 */
  }