<div class="body-color">
    <div class="container">
      <h1 id="title">Result</h1>

     
  
      <!-- <div class="navbar">
        <button (click)="showMarket()">Market</button>
        <button (click)="showPortfolio()">Portfolio</button>
      </div> -->

      <div class="navbar-next">
        <div style="margin-top: 15px;">
           <h1 style="margin-left: 10px;font-weight: 500;">Sell Complete !</h1>
        </div>
      </div>
      
      <div class="container-sub">
        <table>
            <thead>
            <tr>
                <th>Total Value</th>
                <th>Benefit from</th>
            </tr>
            </thead>
            <tbody>
            <tr >
                <td>{{ transactionRes.totalValue }}</td>
                <td [ngStyle]="{ color: transactionRes.benefit > 0 ? 'red' : 'green' }">{{ transactionRes.benefit }}</td>
                
            </tr>
            </tbody>
        </table>

        <div class="amount-display">principal:${{transactionRes.principal}}</div>
      </div>
      <div class="continue-button-container">
        <button id="continueButton" (click)="continue()">Continue</button>
      </div>
    </div>
  </div>