
  
  .body-color {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* 设置页面背景色为灰色 */
    margin: auto; 
    width: 50%; 
    padding-top: 50px;
    padding-bottom: 70px;
    padding-right: 0 px;
    padding-left: 0 px;

    box-shadow: 0 2px 4px rgba(0,0,0,0.7); /* 添加容器阴影效果 */

    // background: linear-gradient(45deg, #fb3 50%, #58a 0);    //让背景的渐变带有倾斜
    // background-size:30px 30px;   //每一块小组成部分固定宽度和高度
    background: linear-gradient(rgb(209, 213, 255) 30%,rgb(198, 237, 253) 70%);
  }

  h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
  }
  
  .container {
    margin: 0 auto; /* 设置容器居中 */
    max-width: 800px; /* 设置容器最大宽度 */
    width: 80%; /* 设置容器宽度为页面宽度的80% */
    padding: 20px;
    background-color: #ffffff; /* 设置容器背景色为白色 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.7); /* 添加容器阴影效果 */
    position: relative; /* 添加定位属性 */

    background-image: url('../../assets/background.jpg');
    background-color: rgba(255, 255, 255, 0.9); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // background-color: rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .amount-display {
    box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* 添加容器阴影效果 */
    position: absolute;
    top: 15px;
    right: 20px;
    padding: 10px;
    background-color: rgb(198, 247, 194,0.7); /* 设置金额栏背景色为白色 */
    border: 1px solid #ddd;
    border-radius: 4px;
    font-weight: bold;
    font-size: 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(201, 242, 255,0.5); /* 设置金额栏背景色为白色 */
    // background-color: #EAF6FF;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* 添加容器阴影效果 */
  }
  
  .navbar button {
    box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* 添加容器阴影效果 */
    margin-right: 10px;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 18px;
  }

  .navbar-next {
    // display: flex;
    // justify-content: flex-start;
    align-items: center;
    text-align: center; /* 将文本内容居中对齐 */
    margin-bottom: 5px;
    background-color: rgba(169, 116, 255, 0.5); /* 设置金额栏背景色为白色 */
    padding: 1px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* 添加容器阴影效果 */
    font-size: 10px;
  }
  
  .navbar button:hover {
    background-color: #d38769; /* 按钮鼠标悬停时的背景颜色 */
    color: white; /* 按钮鼠标悬停时的文本颜色 */
  }

  .navbar button:active {
    background-color: #a85838; /* 按钮鼠标悬停时的背景颜色 */
    color: white; /* 按钮鼠标悬停时的文本颜色 */
  }
  
  table {
    box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* 添加容器阴影效果 */
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
    margin-left: 0px;
    margin-top: 15px;
  }
  
  th, td {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 添加容器阴影效果 */
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
   
  }

  .special-span {
    font-weight: bold;
  }

  .align-right {
    float: right;
  }

  .special-td {
    text-align: center; /* 将单元格中的内容居中对齐 */
    padding: 10px; /* 设置单元格内边距，根据需要进行调整 */
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  .volume {
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  tr:nth-child(odd) {
    background-color: rgba(231, 218, 255, 0.5);
  }

  .positive {
    background-color: rgb(91, 206, 91);
    color: white;
  }
  
  .negative {
    background-color: rgb(236, 81, 81);
    color: white;
  }

  .sell-button-container {
    position: absolute;
    bottom: 2px;
    right: 10px;
  }

  #sellButton {
    float: right;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 添加容器阴影效果 */
    width: 120px;
    height: 35px;
    font-size: 14px;
    padding: 8px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  #sellButton:hover {
    background-color: #e95a50; /* 按钮鼠标悬停时的背景颜色 */
    color: white; /* 按钮鼠标悬停时的文本颜色 */
  }
  
  #sellButton:active {
    background-color: #c4372d; /* 按钮鼠标悬停时的背景颜色 */
    color: white; /* 按钮鼠标悬停时的文本颜色 */
  }
  
  .container-sub {
    /* ... 其他样式 ... */
    display: flex; /* 使用 flex 布局 */
    justify-content: space-between; /* 将子元素在容器中水平对齐 */
    align-items: center; /* 将子元素在容器中垂直居中对齐 */
  }

  .chart {
    box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* 添加容器阴影效果 */
    background-color: #f2f2f2; /* 设置页面背景色为灰色 */ 
    width: 40%; 
    padding-top: 20px;
    padding-bottom:0 px;
    padding-left: 0px;
    padding-right: 20px;
    margin-right: 20px;
  }

  .stock-information {

    margin: 0px;
  }

  .trading-button {
    margin-left: 40px;
    margin-right: 40px;
    padding: 8px 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* 添加容器阴影效果 */
    border-radius: 4px;
    background-color: #7cd162;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .trading-button:last-child {
    margin-right: 40px;
  }
  
  .trading-button:hover {
    background-color: #d3655e;
  }
  
  .trading-button:focus {
    outline: none;
  }
  
  .trading-button:active {
    background-color: #b43c26;
  }

  .trading-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
   }