<div class="body-color">
    <div class="container">
        <h1>Stock Details</h1>
    
        <div class="amount-display">${{singleStockDetail.holdingPrincipal}}</div>
    
        <div class="navbar">
          <button (click)="showMarket()">Market</button>
          <button (click)="showPortfolio()">Portfolio</button>
        </div>
        
        
        <div class="navbar-next">
          <h1>{{singleStockDetail.stockName}}</h1>
        </div>
        
        <div class="container-sub">
          <div class="chart">
          <canvas #trendChart></canvas>
          </div>
      
          <!-- <table>
            <thead>
              <tr>
                <th>Stock information</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let stock of stocks">
                <td><a [routerLink]="['/stock', stock.stockId]">{{ stock.stockId }}</a></td>
                <td><a [routerLink]="['/stock', stock.stockId]">{{ stock.stockName }}</a></td>
                <td>{{ stock.currentPrice }}</td>
                <td [ngStyle]="{ color: stock.rateOfReturn > 0 ? 'red' : 'green' }">{{ stock.rateOfReturn }}</td>
                <td [ngStyle]="{ color: stock.profits > 0 ? 'red' : 'green' }">{{ stock.profits }}</td>
              </tr>
            </tbody>
          </table> -->
          <div class="stock-information">

            <div class="trading-container">
              <button *ngIf="shouldShowSellButton" class="trading-button" (click)="openSellModal()">Sell</button>
              <button  class="trading-button" (click)="openBuyModal()">Buy</button>
            </div>

            <div *ngIf="singleStockDetail">
              <table>
                    <tr>
                      <td><span class="special-span">Fluctuation Rate</span> <span  class="align-right" [ngStyle]="{ color: singleStockDetail.fluctuationRate > 0 ? 'red' : 'green' }">{{singleStockDetail.fluctuationRate}}</span></td>
                      <td><span class="special-span">Max Price</span><span class="align-right" >{{singleStockDetail.maxPrice}}</span></td>
                    </tr>
                    <tr>
                      <td><span class="special-span"> Fluctuation Price</span><span class="align-right"[ngStyle]="{ color: singleStockDetail.fluctuationPrice > 0 ? 'red' : 'green' }">{{singleStockDetail.fluctuationPrice}}</span></td>
                      <td><span class="special-span" >Min Price</span><span class="align-right">{{singleStockDetail.minPrice}}</span></td>
                    </tr>
                    <tr>
                      <td rowspan="2" class="special-td , volume">
                      <p><span class="special-span" >Volume</span></p>
                      <p>{{singleStockDetail.holdingVolume}}</p>
                      </td>
                      <td><span class="special-span" >Current Price</span><span class="align-right">{{singleStockDetail.currentPrice}}</span></td>
                  </tr>
                  <tr>
                    <td><span class="special-span" >Current Interest Rate</span><span class="align-right" [ngStyle]="{ color: singleStockDetail.currentInterestRate > 0 ? 'red' : 'green' }">{{singleStockDetail.currentInterestRate}}</span></td>
                  </tr>
              </table>

            </div>
            
        </div>
      </div>
  
     
    </div>
  </div>